<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form method="post">
    <div>
        <h4 style="margin: 0px;">Username: </h4>
        <input type="text" name="username">
        <h4 style="margin: 0px;">Password: </h4>
        <input type="password" name="password">
    </div>
    <br>
    <input type="submit" name="submit" value="login">
</form>
</body>
</html>